@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{box-sizing: border-box}

html{
	font: 10px 'Open Sans', serif;
	font-size: 10px;
	height: 100%}

body{
	font-size: 1.6rem;
	color: #333;
	line-height: 1.6;
	min-height: 100%}